/* Fonts of Website */

@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Changa", sans-serif; */

/* Araabic */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: "Roboto", sans-serif; */

/* English */


/* Reset Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The Root */
:root {
    /* The Colors Of Website */
    --white: white;
    --balck: black;
    --transparent: transparent;
    --rbgaWhite: rgba(255, 255, 255, 0.5);
    --rbgaBlack: rgba(0, 0, 0, 0.5);
}